/* Reset default browser styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Header Section */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fba950;
  padding: 20px;
}
.login {
  padding: 10px 20px;
  background-color: #080808;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.logo {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  overflow: hidden;
}

.nav-items > ul {
  display: flex;
  list-style: none;
  font-size: 18px;
  gap: 20px;
}

.nav-items > ul > li {
  padding: 10px;
  cursor: pointer;
  transition: color 0.3s ease;
  color: #f9f9f9;
}

.nav-items > ul > li:hover {
  text-decoration: underline;
}

/* Search Container */
.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 20px;
  background-color: #f6f6f6;
  border-radius: 8px;
}

.search-bar {
  padding: 10px;
  font-size: 18px;
  border: none;
  border-radius: 8px;
  /* background-color: #f6f6f6; */
  width: 300px;
  color: #333;
  transition: background-color 0.3s ease;
  border-color: #fba950;
}

.search-btn {
  padding: 10px 20px;
  font-size: 18px;
  background-color: #fba950;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.search-btn:hover {
  background-color: #f9b368;
}

/* Restaurant Wrapper - Grid Layout */
.restaurant-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
  background-color: #fee6cc;
  border-radius: 8px;
  justify-content: center;
}

/* Restaurant Card */
.restaurant-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  width: 300px;
  min-height: 350px;
}

.restaurant-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.res-logo {
  width: 100%;
  height: 120px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 10px;
}

.res-data-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.res-name {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 8px;
  color: #000000;
}

.res-price,
.res-rating,
.res-cusines,
.res-del-time {
  font-size: 14px;
  color: #2a1c1c;
  margin-bottom: 4px;
}
.restaurant-rating {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin-top: 12px;
  color: #eeab3f;
}

/* Shimmer Placeholder */
.shimmer-placeholder {
  background-image: linear-gradient(
    to right,
    rgba(247, 247, 247, 0.2),
    rgba(247, 247, 247, 0.4),
    rgba(247, 247, 247, 0.2)
  );
  background-size: 600px 60px;
  animation: shimmer 2s infinite;
}

@keyframes shimmer {
  0% {
    background-position: -240px 0;
  }
  100% {
    background-position: 240px 0;
  }
}

.link {
  text-decoration: none !important;
  color: inherit;
}
.full-star-icon {
  color: #fba950;
}
.half-star-icon {
  color: #fba950;
}
.empty-star-icon {
  color: #fba950;
}

.user_card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  width: 300px;
}
.avatar_container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 10px;
}
.avatar {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.user_name {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 8px;
  color: #000000;
}
.user_address {
  font-size: 14px;
  color: #2a1c1c;
  margin-bottom: 4px;
  text-align: justify;
}
.user_bio {
  font-size: 14px;
  color: #2a1c1c;
  margin-bottom: 4px;
}
.user_links {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-top: 12px;
  color: #eeab3f;
}
